.customAlert {
    -fx-border-radius: 15px;
}

.customAlert:header .header-panel {
    -fx-background-color: linear-gradient(to bottom, #101010, #404040);
    -fx-border-radius: 15px;
    -fx-margin: 10px;
}

.customAlert:header .header-panel .label {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
}

.customAlert .button-bar .container {
    -fx-background-color: white;
}

.customAlert .button {
    -fx-background-color: #101010;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 0, 2px, 2px, 2px);
    -fx-cursor: hand;
}

.customAlert .button:hover {
    -fx-background-color: #202020;
}