/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2022, 7:49:30 AM
    Author     : robyandy
*/

#button1 {
    -fx-background-color: black;
    -fx-background-radius: 10;
}
#button1:hover {
    -fx-background-color: rgba(0,0,0,0.75);
}
#button1:pressed {
    -fx-background-color: rgba(0,0,0,0.5);
}

.label {
     -fx-text-fill: rgba(43, 0, 255);    
}
.label:hover {
     -fx-text-fill: rgba(43, 0, 255,0.75);    
}
.label:pressed {
    -fx-text-fill: rgba(43, 0, 255,0.5);
}

#button2 {
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-border-color: black;
    -fx-border-radius: 50;
}
#button2:hover {
    -fx-border-color: rgba(0,0,0,0.75); 
    -fx-text-fill: rgba(0,0,0,0.75); 
}
#button2:pressed {
    -fx-border-color: rgba(0,0,0,0.5);  
    fx-text-fill: rgba(0,0,0,0.5); 
}

#button3 {
    -fx-background-color:  rgba(255,255,255,1);
    -fx-background-radius: 500;    
}
#button3:hover {
    -fx-background-color:  rgba(255,255,255,0.75);
    -fx-background-radius: 500;    
}
#button3:pressed {
    -fx-background-color:  rgba(255,255,255,0.5);
    -fx-background-radius: 500;    
}