/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 may. 2022, 18:14:29
    Author     : DROCPER
*/
.root{
    -fx-background-color: linear-gradient(#87cefa, #ffffff );
    -fx-background-size: 100% 100%; -fx-background-repeat: no-repeat;
}
#vbox1{
    -fx-background-radius: 25;
}
#datepickHbox{
    -fx-border-color: black; 
    -fx-border-width: 0 0 1.25 0;
}
.list-cell {
    -fx-padding-left: 10px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white
}

.list-cell:odd {
    -fx-background-color: #efefef;
}

.list-cell:filled:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}
.table-view {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-text-background-color: black;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: black;
    -fx-background-radius: 15px;
    -fx-padding: 7px;
    -fx-text-background-color: white;
}
.table-view .table-cell{
    -fx-border-color: transparent;
}
.table-row-cell:hover {
    -fx-background-color: #707070;
}
.table-row-cell:odd{
    -fx-background-color: #E8E8E8;
}
.table-row-cell:even{
    -fx-background-color: #FFF;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #585858, #808080);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #585858, #808080);
}
.table-view .table-cell {
    -fx-padding: 7px;
    -fx-text-alignment: center;
}
#hits, #faults, #timestamp, #date{
    -fx-alignment: CENTER;
}

