/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 may. 2022, 17:51:19
    Author     : DROCPER
*/
.root{
    -fx-background-image: url('../resources/fondo1.jpg');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    
}
#vbox1{
    -fx-background-color: rgba(255,255,255,.65);
}
#usernameField, #emailField, #hboxPassword{
    -fx-background-color: transparent; 
    -fx-border-color: black; 
    -fx-border-width: 0 0 1.25 0;
}

#passwordTextField, #passwordField, #reenterPasswordTextField, #reenterPasswordField{
    -fx-background-color: transparent;
}

#vbox2{
    -fx-border-color: black; 
    -fx-border-width: 0 0 0 1.15; 
    -fx-border-insets: 2;
}

